@use "../abstracts/" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #212428;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  display: inline-block;
  transition: 0.3s;
}

img {
  width: 100%;
}
.subject {
  text-align: center;
}
.subject h2 {
  font-size: 4rem;
  padding-bottom: 3rem;
  color: $blue-color;
}
.subject h4 {
  color: #ff014f;
  font-size: 1.5rem;
  font-weight: 100;
}
//  swiper
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination-bullet-active {
  background-color: $red-color;
}
.swiper-button-next:after,.swiper-button-prev:after{
  color: $red-color;
}