@use "../abstracts/" as *;
.Home {
    padding-top: 10rem;
    .container {
        display: flex;
        align-items: center;
        gap: 5rem;
        border-bottom: 0.1rem solid black;
        padding-bottom: 5rem;
        .content {
            flex: 1;
            color: #fff;
            h4 {
                font-size: 2rem;
                color: #b5becd;
                font-weight: normal;
            }
            h1 {
                font-size: 4.5rem;
                padding: 1rem 0;
            }
            .title {
                .text_title-red {
                    color: $red-color;
                }
                .text_title-active {
                    font-size: 3.5rem;
                }
            }
            .text {
                line-height: 3rem;
                font-size: 1.7rem;
                color: $text_color;
                font-weight: normal;
            }
            .items {
                margin-top: 4rem;
                display: flex;
                gap: 6rem;
                .item {
                    h3 {
                        font-size: 1.7rem;
                        color: $text_color;
                        font-weight: normal;
                        padding-bottom: 1.5rem;
                    }
                    a {
                        padding: 15px 20px;
                        background-color: transparent;
                        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
                        gap: 2rem;
                        display: flex;
                        align-items: center;
                        svg {
                            font-size: 2.5rem;
                        }
                        &:hover {
                            color: $red-color;
                        }
                    }
                    .icons {
                        display: flex;
                        gap: 2rem;
                        transition: 0.9s;
                        @keyframes shake {
                            0% {
                                transform: translate(1px, 1px) rotate(0deg);
                            }
                            10% {
                                transform: translate(-1px, 0) rotate(0deg);
                            }
                            20% {
                                transform: translate(-3px, 0) rotate(1deg);
                            }
                            30% {
                                transform: translate(3px, 0) rotate(0deg);
                            }
                            40% {
                                transform: translate(1px, 0) rotate(1deg);
                            }
                            50% {
                                transform: translate(-1px, 0) rotate(0deg);
                            }
                            60% {
                                transform: translate(2px, 0) rotate(0deg);
                            }
                            70% {
                                transform: translate(3px, 0) rotate(0deg);
                            }
                            80% {
                                transform: translate(-1px, 0) rotate(1deg);
                            }
                            90% {
                                transform: translate(1px, 0) rotate(0deg);
                            }
                            100% {
                                transform: translate(1px, 0) rotate(0deg);
                            }
                        }
                        a {
                            &:hover {
                                animation: shake 0.5s;
                                animation-iteration-count: infinite;
                            }
                        }
                    }
                }
            }
        }
    }
    .image {
        position: relative;
        flex: 1;
        text-align: center;
        img {
            height: 56rem;
        }
        .box-image {
            box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
            height: 36.5rem;
            position: absolute;
            background: transparent;
            right: 0;
            left: 0;
            text-align: center;
            z-index: -1;
            top: 20rem;
        }
    }
}
//  responsive
@media (max-width: 1024px) {
    .Home {
        .container {
            flex-direction: column;
            .items {
                flex-direction: column;
            }
        }
    }
}
