@use "../abstracts/" as *;
.projects {
    .container {
        padding-top: 5rem;
        border-bottom: 0.1rem solid black;
        padding-bottom: 4rem;
        .row {
            margin-top: 2rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
            gap: 3rem;
            margin-bottom: 3rem;
        }
        .col {
            padding: 2.5rem;
            background-color: transparent;
            box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
            .image {
                width: auto;
                height: 300px;
                overflow: hidden;
                position: relative;
                margin: 0 auto;
                cursor: pointer;
                border-radius: 1rem;
                img {
                    transition: 1s;
                }
            }
            .content {
                margin-top: 1.5rem;
                .flex {
                    @include flex(space-between, center);
                    .title {
                        color: $red-color;
                        font-size: 1.5rem;
                    }
                }
                .items {
                    a {
                        margin-right: 0.3rem;
                    }
                    i {
                        border-radius: 50%;
                        padding: 10px;
                        background-color: #111;
                        font-size: 2rem;
                        transition: 0.3s;
                        &:hover {
                            color: $red-color;
                        }
                    }
                }
                .text {
                    margin-top: 1rem;
                    color: #e1e1e1;
                    font-size: 1.3rem;
                }
            }
            &:hover {
                .image {
                    img {
                        width: 100%;
                        transform: translateY(calc(300px - 100%));
                    }
                }
            }
        }
    }
}
