@use "../abstracts/" as *;

.btn {
  background-color: #191b1e;
  padding: 0 4.5rem;
  height: 5rem;
  font-size: 1.8rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 2rem;
  border: none;
  a {
    color: $blue-color;
  }

  &:hover {
    border: 0.1rem solid $red-color;
    a {
      color: #fff;
    }
  }
}
