@use "../abstracts/" as *;
.contact {
    border-bottom: 0.1rem solid black;
    margin-top: 5rem;
    .container {
        .row {
            display: flex;
            gap: 3rem;
            margin-bottom: 8rem;
        }
        .col_image {
            flex: 1;
            padding: 2rem;
            box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
            color: #9399a5;
            flex-direction: column;
            display: grid;
            align-content: space-evenly;
            .title_col_image {
                font-size: 3rem;
                color: #fff;
            }
            .job_col_image {
                margin: 1rem 0;
                font-size: 1.5rem;
            }
            .info_col_image {
                font-size: 1.6rem;
                line-height: 2.5rem;
            }
            .type_col_image {
                font-size: 1.5rem;
                padding: 0.5rem 0;
                color: $text-color;
                span {
                    color: $blue-color;
                }
            }
            .icons {
                display: flex;
                gap: 2rem;
                transition: 0.9s;
                flex-direction: column;
                @keyframes shake {
                    0% {
                        transform: translate(1px, 1px) rotate(0deg);
                    }
                    10% {
                        transform: translate(-1px, 0) rotate(0deg);
                    }
                    20% {
                        transform: translate(-3px, 0) rotate(1deg);
                    }
                    30% {
                        transform: translate(3px, 0) rotate(0deg);
                    }
                    40% {
                        transform: translate(1px, 0) rotate(1deg);
                    }
                    50% {
                        transform: translate(-1px, 0) rotate(0deg);
                    }
                    60% {
                        transform: translate(2px, 0) rotate(0deg);
                    }
                    70% {
                        transform: translate(3px, 0) rotate(0deg);
                    }
                    80% {
                        transform: translate(-1px, 0) rotate(1deg);
                    }
                    90% {
                        transform: translate(1px, 0) rotate(0deg);
                    }
                    100% {
                        transform: translate(1px, 0) rotate(0deg);
                    }
                }

                .icon {
                    gap: 2rem;
                    display: flex;
                    transition: 0.9s;
                }
                a {
                    padding: 15px 20px;
                    background-color: transparent;
                    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
                    gap: 2rem;
                    display: flex;
                    align-items: center;
                    font-size: 2.3rem;
                    &:hover {
                        animation: shake 0.5s;
                        color: $red-color;
                        animation-iteration-count: infinite;
                    }
                }
            }
        }
        .col_forms {
            box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
            padding: 2rem;
            flex: 2;
            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: #fff;
                input,
                textarea {
                    padding: 1.8rem 2rem;
                    background-color: #191b1e;
                    border: none;
                    border-radius: 1rem;
                    resize: none;
                    margin-top: 0.5rem;
                    color: #fff;
                    font-size: 1.7rem;
                }
                label {
                    margin-top: 2rem;
                    color: #9399a5;
                    font-size: 1.5rem;
                }
            }
            .grid {
                display: grid;
                grid-template-columns: repeat(2, minmax(0px, 1fr));
                gap: 2rem;
            }
            .form {
                align-items: center;
                display: grid;
            }
        }
    }
}
//  responsive
@media (max-width: 991px) {
    .contact {
        .container {
            margin-top: 5rem;
            .row {
                display: flex;
                gap: 3rem;
                flex-direction: column;
            }
            .col_forms {
                .grid {
                    display: block;
                }
            }
        }
    }
}
